BASE_URL=https://indiantrademart.com
HEADLESS=false
DEFAULT_TIMEOUT_MS=20000
EXPECT_TIMEOUT_MS=10000
ENABLE_MUTATION_TESTS=false

BUYER_EMAIL=
BUYER_PASSWORD=
VENDOR_EMAIL=
VENDOR_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=
HR_EMAIL=
HR_PASSWORD=
FINANCE_EMAIL=
FINANCE_PASSWORD=
DATAENTRY_EMAIL=
DATAENTRY_PASSWORD=
SUPPORT_EMAIL=
SUPPORT_PASSWORD=
SALES_EMAIL=
SALES_PASSWORD=
MANAGER_EMAIL=
MANAGER_PASSWORD=
VP_EMAIL=
VP_PASSWORD=
SALES_TEST_EMAIL=
SALES_TEST_PASSWORD=

